form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}
form div + div {
  margin-top: 1em;
}
.formSection {
  display: flex;
  justify-content: space-around;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  min-width: 90px;
  text-align: right;
  margin-right: 1em;
}
textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}
input,
textarea {
  /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */

  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}
button {
  background: #339999;
  color: white;
  border: none;
  padding: 0.75em 0.5em;
  border-radius: 10px;
  margin-left: 1em;
}
form div {
  display: flex;
}
form div input,
textarea {
  flex-grow: 1;
}
